<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Daniella Green</title>
    <link rel="stylesheet" href="assets/styles/angular-material.min.css" />
    <link rel="stylesheet" href="assets/styles/toaster.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->
    <link href="assets/styles/app.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="navController">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
      	<md-button ng-show="$state.current.name === 'user.owner' || $state.current.name === 'user.renter'" ng-click="back()" class="material-icons" style="color: white">
      		<md-tooltip>Voltar</md-tooltip>
      		chevron_left
      	</md-button>
        <h1 hide-sm>Condomínio Daniella Green</h1>
        <small hide-gt-sm>Daniella Green</small>
        <span flex></span>
        <md-button ng-show="isAuthenticated()" ng-hide="!isAuthenticated()" ng-click="logout()" class="material-icons" style="color: white">
        	<md-tooltip>Sair</md-tooltip>
        	exit_to_app
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
             	<div ui-view></div>
            </md-content>
        </div>
    </div>
    <!-- <script src="//code.jquery.com/jquery-2.0.3.min.js"></script> -->
    <script src="assets/js/dependencies/angular.min.js"></script>
    <script src="assets/js/dependencies/angular-resource.min.js"></script>
    <script src="assets/js/dependencies/angular-ui-router.min.js"></script>
    <script src="assets/js/dependencies/angular-animate.min.js"></script>
    <script src="assets/js/dependencies/angular-aria.min.js"></script>
    <script src="assets/js/dependencies/angular-material.min.js"></script>
    <script src="assets/js/dependencies/angular-messages.min.js"></script>
    <script src="assets/js/dependencies/toaster.min.js"></script>
    <!-- 
    <script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
    <script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>
	-->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/services/accessLevels.service.js"></script>
    <script src="assets/js/services/authentication.service.js"></script>
    <script src="assets/js/services/localStorage.service.js"></script>
    <script src="assets/js/services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <!-- <script src="config/env/development.js"></script> -->
    <script src="config/env/production.js"></script>
    <script src="assets/js/services/user.service.js"></script>
    <script src="assets/js/services/owner.service.js"></script>
    <script src="assets/js/services/renter.service.js"></script>
    

    <!-- Fake user service for demo that uses local storage -->
    <!-- <script src="app-services/user.service.local-storage.js"></script> -->
	<script src="assets/js/controllers/navController.js"></script>
    <script src="assets/js/controllers/home.controller.js"></script>
    <script src="assets/js/controllers/login.controller.js"></script>
    <script src="assets/js/controllers/owner.controller.js"></script>
    <script src="assets/js/controllers/renter.controller.js"></script>
    <!-- <script src="register/register.controller.js"></script> -->
</body>
</html>