<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Daniella Green</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="node_modules/angularjs-toaster/toaster.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->
    <link href="app-content/app.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="navController">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
      	<md-button ng-show="$state.current.name === 'user.owner'" ng-click="back()" class="material-icons" style="color: white">
      		<md-tooltip>Voltar</md-tooltip>
      		chevron_left
      	</md-button>
        <h1 hide-sm>Condomínio Daniella Green </h1>
        <h1 hide-gt-sm>Daniella Green </h1>
        <span flex></span>
        <md-button ng-show="isAuthenticated()" ng-hide="!isAuthenticated()" ng-click="logout()" class="material-icons" style="color: white">
        	<md-tooltip>Sair</md-tooltip>
        	exit_to_app
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
             	<div ui-view></div>
            </md-content>
        </div>
    </div>

<!-- 
    <div class="jumbotron">

        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                
            </div>
        </div>
    </div>
    <div class="credits text-center">
        <p>
            <a href="http://www.webify.com.br">Webify</a>
        </p>
    </div>
 -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-resource/angular-resource.js"></script>
    <script src="node_modules/angular-ui-router/build/angular-ui-router.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angularjs-toaster/toaster.min.js"></script>
    <!-- 
    <script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
    <script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>
	-->
    <script src="app.js"></script>
    <script src="app-services/accessLevels.service.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/localStorage.service.js"></script>
    <script src="app-services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <script src="config/env/development.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/owner.service.js"></script>
    

    <!-- Fake user service for demo that uses local storage -->
    <!-- <script src="app-services/user.service.local-storage.js"></script> -->
	<script src="navbar/navController.js"></script>
    <script src="home/home.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="views/owner/owner.controller.js"></script>
    <script src="register/register.controller.js"></script>
</body>
</html>